<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CachedManifest</key>
	<dict>
		<key>manifestData</key>
		<data>
		eyJkZXBlbmRlbmNpZXMiOltdLCJkaXNwbGF5TmFtZSI6IkZhbGxpbmdub3Rl
		IiwicGFja2FnZUtpbmQiOnsicm9vdCI6e319LCJwbGF0Zm9ybXMiOlt7Im9w
		dGlvbnMiOltdLCJwbGF0Zm9ybU5hbWUiOiJpb3MiLCJ2ZXJzaW9uIjoiMTYu
		MCJ9XSwicHJvZHVjdHMiOlt7Im5hbWUiOiJGYWxsaW5nbm90ZSIsInNldHRp
		bmdzIjpbeyJidW5kbGVJZGVudGlmaWVyIjpbImRzLkNvbG9yS2V5Il19LHsi
		dGVhbUlkZW50aWZpZXIiOlsiVTJZNFVIWlM3OSJdfSx7ImRpc3BsYXlWZXJz
		aW9uIjpbIjEuMCJdfSx7ImJ1bmRsZVZlcnNpb24iOlsiMSJdfSx7ImlPU0Fw
		cEluZm8iOlt7ImFjY2VudENvbG9yIjp7InByZXNldENvbG9yIjp7InByZXNl
		dENvbG9yIjp7InJhd1ZhbHVlIjoiaW5kaWdvIn19fSwiYXBwQ2F0ZWdvcnki
		OnsicmF3VmFsdWUiOiJwdWJsaWMuYXBwLWNhdGVnb3J5Lm11c2ljLWdhbWVz
		In0sImFwcEljb24iOnsiYXNzZXQiOnsibmFtZSI6IkFwcEljb24ifX0sImNh
		cGFiaWxpdGllcyI6W10sInN1cHBvcnRlZERldmljZUZhbWlsaWVzIjpbInBh
		ZCIsInBob25lIl0sInN1cHBvcnRlZEludGVyZmFjZU9yaWVudGF0aW9ucyI6
		W3sicG9ydHJhaXQiOnt9fSx7ImxhbmRzY2FwZVJpZ2h0Ijp7fX0seyJsYW5k
		c2NhcGVMZWZ0Ijp7fX0seyJwb3J0cmFpdFVwc2lkZURvd24iOnsiY29uZGl0
		aW9uIjp7ImRldmljZUZhbWlsaWVzIjpbInBhZCJdfX19XX1dfV0sInRhcmdl
		dHMiOlsiQXBwTW9kdWxlIl0sInR5cGUiOnsiZXhlY3V0YWJsZSI6bnVsbH19
		XSwidGFyZ2V0TWFwIjp7IkFwcE1vZHVsZSI6eyJkZXBlbmRlbmNpZXMiOltd
		LCJleGNsdWRlIjpbXSwibmFtZSI6IkFwcE1vZHVsZSIsInBhdGgiOiIuIiwi
		cmVzb3VyY2VzIjpbeyJwYXRoIjoiU291bmRcL0dhbWVPdmVyLndhdiIsInJ1
		bGUiOnsiY29weSI6e319fSx7InBhdGgiOiJTb3VuZFwvZG8ubXAzIiwicnVs
		ZSI6eyJjb3B5Ijp7fX19LHsicGF0aCI6IlNvdW5kXC9yZS5tcDMiLCJydWxl
		Ijp7ImNvcHkiOnt9fX0seyJwYXRoIjoiU291bmRcL21pLm1wMyIsInJ1bGUi
		OnsiY29weSI6e319fSx7InBhdGgiOiJTb3VuZFwvZmEubXAzIiwicnVsZSI6
		eyJjb3B5Ijp7fX19LHsicGF0aCI6IlNvdW5kXC9zb2wubXAzIiwicnVsZSI6
		eyJjb3B5Ijp7fX19LHsicGF0aCI6IlNvdW5kXC9sYS5tcDMiLCJydWxlIjp7
		ImNvcHkiOnt9fX0seyJwYXRoIjoiU291bmRcL3NpLm1wMyIsInJ1bGUiOnsi
		Y29weSI6e319fSx7InBhdGgiOiJTb3VuZFwvQnV0dG9uQ2xpY2subXAzIiwi
		cnVsZSI6eyJjb3B5Ijp7fX19XSwic2V0dGluZ3MiOltdLCJ0eXBlIjoiZXhl
		Y3V0YWJsZSJ9fSwidGFyZ2V0cyI6W3siZGVwZW5kZW5jaWVzIjpbXSwiZXhj
		bHVkZSI6W10sIm5hbWUiOiJBcHBNb2R1bGUiLCJwYXRoIjoiLiIsInJlc291
		cmNlcyI6W3sicGF0aCI6IlNvdW5kXC9HYW1lT3Zlci53YXYiLCJydWxlIjp7
		ImNvcHkiOnt9fX0seyJwYXRoIjoiU291bmRcL2RvLm1wMyIsInJ1bGUiOnsi
		Y29weSI6e319fSx7InBhdGgiOiJTb3VuZFwvcmUubXAzIiwicnVsZSI6eyJj
		b3B5Ijp7fX19LHsicGF0aCI6IlNvdW5kXC9taS5tcDMiLCJydWxlIjp7ImNv
		cHkiOnt9fX0seyJwYXRoIjoiU291bmRcL2ZhLm1wMyIsInJ1bGUiOnsiY29w
		eSI6e319fSx7InBhdGgiOiJTb3VuZFwvc29sLm1wMyIsInJ1bGUiOnsiY29w
		eSI6e319fSx7InBhdGgiOiJTb3VuZFwvbGEubXAzIiwicnVsZSI6eyJjb3B5
		Ijp7fX19LHsicGF0aCI6IlNvdW5kXC9zaS5tcDMiLCJydWxlIjp7ImNvcHki
		Ont9fX0seyJwYXRoIjoiU291bmRcL0J1dHRvbkNsaWNrLm1wMyIsInJ1bGUi
		OnsiY29weSI6e319fV0sInNldHRpbmdzIjpbXSwidHlwZSI6ImV4ZWN1dGFi
		bGUifV0sInRvb2xzVmVyc2lvbiI6eyJfdmVyc2lvbiI6IjUuNi4wIn19
		</data>
		<key>manifestHash</key>
		<data>
		L94Eoim4wPqEb8xnji6OyRRXBG13hca2YgxAj/KiHMI=
		</data>
		<key>schemaVersion</key>
		<integer>4</integer>
		<key>swiftPMVersionString</key>
		<string>5.8.0</string>
	</dict>
</dict>
</plist>
